@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --main-color:#4c3228;
    --secondary-color:#9d7651;
    --btn-color:#33471f;
    --bg-color:#efc3a4;
    --text-color:white;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    height:2000px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* navbar section start */

header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: var(--main-color);
    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    /* padding: 20px; */
}

@keyframes hithere {
    30% { 
        transform: scale(1.2); 
    }
    40%{ 
        transform: rotate(-20deg) scale(1.2); 
    }
    50% {
         transform: rotate(20deg) scale(1.2); 
    }
    60%  {
        transform: rotate(-20deg) scale(1.2); 
    }
    70% {
         transform: rotate(0deg) scale(1.2); 
    }
    100% {
         transform: scale(1); 
    }
  }

.logo i{
    margin-right: 5px;
    font-size: 2rem;
    cursor: pointer;
    animation:linear;
    color: var(--text-color);
}

.logo i:hover{
    animation-name: hithere;
    animation-duration: 2s;
}

.logo h2{
    font-size: 1.8rem;
    text-transform: uppercase;
}

.tag{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag li a{
    color: var(--text-color);
    text-decoration: none;
}

.navbar .tag li{
    list-style: none;
    margin-right: 2rem;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    /* background-color: blue; */
    position: relative;
}

.navbar .tag a::after{
    content: '';
    width:0%;
    height: 3px;
    background-color: var(--secondary-color);
    border-radius: 2px;
    position: absolute;
    bottom:-3px;
    left:0;
    transition: 0.5s;

}

.navbar .tag a:hover::after{
    width:100%
}

.navbar .searchbar{
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.navbar .searchbar .something{
    border: none;
    outline: none;
}

.navbar .btn{
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.5s;
}

.navbar .searchbar .btn:active{
    transform: scale(1.3) rotate3d(10,10,0,180deg);
}

/* navbar section end */

/* Cover Image Section Start */

.img-container{
    background-color: red;
    position: relative;

    
}

.img-container .cover{
    background-color: blue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container .cover img{
    width: 100%;
    object-fit: cover;
    height: 600px;
    opacity: 0.95;
    object-position: top;
}


.img-container .cover-text{
    position: absolute;
    top:200px;
    left: 150px;
}

.img-container .cover-text h2{
    font-size: 2.2rem;
    color: var(--main-color);
    font-weight: 800;
    text-shadow: 5px 5px 5px var(--main-color);

}

.img-container .cover-text h3{
    margin-top: 10px;
    font-size: 3rem;
    color: var(--main-color);
    text-shadow: 1px 1px 3px var(--main-color);
}

.img-container .cover-text button{
    margin-top: 15px;
    padding:12px 24px;
    background-color: var(--main-color);
    color: var(--text-color);
    font-weight: 500;
    border-radius: 20px;
    border: none;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    transition: 0.5s;
}


.img-container .cover-text button:hover{
    filter: brightness(1.1);
    transform: scale(1.2);
    cursor: pointer;
}
/* Cover Image Section End */


/* category logo section start */

.category{
    background-color:var(--bg-color);

}

.category .category-logo {
    display:flex;
    justify-content:center;
    align-items:center;
}

.category .category-logo .icon{
    margin:50px 100px;

}


.category .category-logo img{
    width: 100px;
    height:100px;
    background-color:var(--bg-color);
    color:black;
    cursor: pointer;
    transition: 0.5s;
}

.category .category-logo img:hover{
    transform: translateY(-10%);
}

.category .category-logo .icon h4{
    color: var(--main-color);
    text-align: center;
}

/* category logo section end */
/* coffee list section start */

.coffee-list{
    margin-bottom: 20px;
}

.coffee-container{
    margin:0 100px;
    padding: 30px 80px;
    background-color: var(--text-color);
    color: black;
    border-radius: 20px;
    
}

.coffee-container .title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.coffee-container h3{
    margin-left:10px;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.coffee-container .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    gap: 2rem;
    margin:50px;

}

.coffee-container .card{
    background-color: var(--bg-color);
    padding: 20px 20px;
    width:100%;
    height: 430px;
    border-radius: 10px;
    position: relative;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    transition: 0.5s;
    cursor: pointer;
}

.coffee-container .card:hover{
    transform: translateY(-5%);
}

.coffee-container .card img{
    width:100%;
    height:250px;
    border-radius: 10px;
}


.coffee-container .card h5{
    font-size: 1.2rem;
    margin: 5px;
    font-weight: bold;
}

.coffee-container .card p{
    font-size: 15px;
    margin: 5px;
}

.coffee-container .card .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.coffee-container .card span{
    font-size: 1.2rem;
    font-weight: 800;
}

.coffee-container .card .row span i{
    margin-right: 5px;
}

.coffee-container .card input{
    padding: 8px 16px;
    border-radius: 10px;
    background-color: var(--btn-color);
    color: var(--text-color);
    cursor: pointer;
    border: none;
    transition: 0.5s;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.coffee-container .card input:hover{
    filter: brightness(1.2);
    transform: scale(1.2);
}
/* coffee lists section end */


/* coffee bean section start */

.coffeebean-container{
    margin: 0 100px;
    height:300px;
    position: relative;
}

.coffeebean-container img{
    width:100%;
    height:100%;
    object-position: center;
    object-fit: cover;
}


.coffeebean-container .text-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50%;
    left:33%
}

.coffeebean-container .text-group h3{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}


.coffeebean-container .text-group button{
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--text-color);
    background-color: var(--btn-color);
    border: none;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.5s;
}

.coffeebean-container .text-group button:hover{
    transform: scale(1.2);
}

.coffeebean-container .text-group button i{
    font-size: 0.5rem;
    margin-left: 3px;
}


/* coffee bean section end */

/* Review Section Start */

.review-container{
    background: white;
    margin: 20px 100px;
    color: black;
    padding: 40px 80px;
    
}

.review-container h5{
    text-align: center;
    font-family: "Charmonman", cursive;
    font-size: 1.2rem;
}

.review-container h4{
    text-align: center;
    font-size: 2rem;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.review-container .box-container{
    margin-top: 50px;
    padding: 50px 75px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,auto));
    gap: 25px;
}

.review-container .box-container .box{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color: rgb(242, 242, 242);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.5s;
    border-radius:10px;
}

.review-container .box-container .box:hover{
    transform: translateY(-10%);

}

.review-container .box-container .box .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-container .box-container .box .heading .gp1 {
    display: flex;
    justify-content: start;
    align-items: center;
}

.review-container .box-container .box .heading .gp1  .img{
    width:60px;
    height: 60px;
    margin-right: 10px;
}

.review-container .box-container .box .heading .gp1  img{
    width:100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position:top;
}

.review-container .box-container .box .heading .gp1 .text{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.review-container .box-container .box .heading .gp1 .text h3{
    font-size: 1rem;
    font-weight: 700;
}

.review-container .box-container .box .heading .gp1 .text h4{
    font-size: 0.9rem;
    font-weight: 700;
}

.review-container .box-container .box .heading .gp2{
    margin-top: 10px;
}

.review-container .box-container .box .heading .gp2 i{
    color: orange;
    font-size: 0.8rem;
}

.review-container .box-container .box .body{
    margin-top:20px
}

.review-container .box-container .box .body p{
    font-size: 0.9rem;
}

.review-container  .extra{
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 100%;
}


.review-container  .extra i{
    margin:5px;
    font-size: 0.7rem;
}


/* Review Section End */