@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --main-color:#4c3228;
    --secondary-color:#9d7651;
    --btn-color:#33471f;
    --bg-color:#efc3a4;
    --text-color:white;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    min-width: 1200px;
    height:2000px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* navbar section start */

header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: var(--main-color);
    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    /* padding: 20px; */
}

@keyframes hithere {
    30% { 
        transform: scale(1.2); 
    }
    40%{ 
        transform: rotate(-20deg) scale(1.2); 
    }
    50% {
         transform: rotate(20deg) scale(1.2); 
    }
    60%  {
        transform: rotate(-20deg) scale(1.2); 
    }
    70% {
         transform: rotate(0deg) scale(1.2); 
    }
    100% {
         transform: scale(1); 
    }
  }

.logo i{
    margin-right: 5px;
    font-size: 2rem;
    cursor: pointer;
    animation:linear;
    color: var(--text-color);
}

.logo i:hover{
    animation-name: hithere;
    animation-duration: 2s;
}

.logo h2{
    font-size: 1.8rem;
    text-transform: uppercase;
}

.tag{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag li a{
    color: var(--text-color);
    text-decoration: none;
}

.navbar .tag li{
    list-style: none;
    margin: 1rem;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    /* background-color: blue; */
    position: relative;
}

.navbar .tag a::after{
    content: '';
    width:0%;
    height: 3px;
    background-color: var(--secondary-color);
    border-radius: 2px;
    position: absolute;
    bottom:-3px;
    left:0;
    transition: 0.5s;

}

.navbar .tag a:hover::after{
    width:100%
}

.navbar .searchbar{
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.navbar .searchbar .something{
    border: none;
    outline: none;
}

.navbar .btn{
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.5s;
}

.navbar .searchbar .btn:active{
    transform: scale(1.3) rotate3d(10,10,0,180deg);
}

/* navbar section end */

/* Cover Image Section Start */

.img-container{
    /* background-color: red; */
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

/* .img-container .cover{
    background-color: blue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container .cover img{
    width: 100%;
    object-fit: cover;
    height: 600px;
    opacity: 0.95;
    object-position: top;
} */


.img-container .cover-text{
    width: 100%;
    height: 600px;
    background: url(./image/cover.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 5%;
    padding-top: 10%;
    text-wrap: nowrap;
}

.img-container .cover-text h2{
    font-size: 2.2rem;
    color: var(--main-color);
    font-weight: 800;
    text-shadow: 5px 5px 5px var(--main-color);

}

.img-container .cover-text h3{
    margin-top: 10px;
    font-size: 3rem;
    color: var(--main-color);
    text-shadow: 1px 1px 3px var(--main-color);
}

.img-container .cover-text button{
    margin-top: 15px;
    padding:12px 24px;
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 20px;
    border: none;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    transition: 0.5s;
}


.img-container .cover-text button:hover{
    filter: brightness(1.1);
    transform: scale(1.2);
    cursor: pointer;
}
/* Cover Image Section End */


/* category logo section start */

.logo-container{
    margin: 0 100px;
    padding: 40px;
    background-color:var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.category .category-logo {
    width: 100%;
    /* background-color: red; */
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}




.category .category-logo img{
    width: 100px;
    height:100px;
    background-color:var(--bg-color);
    color:black;
    cursor: pointer;
    transition: 0.5s;
}



.category .category-logo .icon h4{
    color: var(--main-color);
    text-align: center;
    font-weight: bold;
}

.category .category-logo img:hover{
    transform: translateY(-10%);
}

/* category logo section end */
/* coffee list section start */

.coffee-list{
    /* margin-top: 20px; */
}

.coffee-container{
    /* margin:0 100px; */
    padding: 30px 80px;
    background-color: var(--text-color);
    color: black;
    /* border-radius: 20px; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    
}

.coffee-container .title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.coffee-container h3{
    margin-left:10px;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-wrap: nowrap;
}

.coffee-container .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    gap: 2rem;
    margin:50px;

}

.coffee-container .card{
    background-color: var(--bg-color);
    padding: 20px 20px;
    width:100%;
    min-height: 430px;
    border-radius: 10px;
    position: relative;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    transition: 0.5s;
    cursor: pointer;
}

.coffee-container .card:hover{
    transform: translateY(-5%);
}

.coffee-container .card img{
    width:100%;
    height: 250px;
    border-radius: 10px;
}


.coffee-container .card h5{
    font-size: 1.2rem;
    margin: 5px;
    font-weight: bold;
}

.coffee-container .card p{
    font-size: 15px;
    margin: 5px;
}

.coffee-container .card .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.coffee-container .card span{
    font-size: 1.2rem;
    font-weight: 800;
}

.coffee-container .card .row span i{
    margin-right: 5px;
}

.coffee-container .card input{
    padding: 8px 16px;
    border-radius: 10px;
    background-color: var(--btn-color);
    color: var(--text-color);
    cursor: pointer;
    border: none;
    transition: 0.5s;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.coffee-container .card input:hover{
    filter: brightness(1.2);
    transform: scale(1.2);
}
/* coffee lists section end */


/* coffee bean section start */

.coffeebean-container{
    /* margin: 0 100px; */
    /* height:300px; */
    /* position: relative; */
}

/* .coffeebean-container img{
    width:100%;
    height:100%;
    object-position: center;
    object-fit: cover;
} */


.coffeebean-container .text-group{
    width: 100%;
    min-height:350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./image/Coffee\ Beans\ Phone\ Wallpaper.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding-bottom: 50px 0;
    text-wrap: nowrap;
    /* position: absolute;
    top:50%;
    left:33% */
}

.coffeebean-container .text-group h3{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}


.coffeebean-container .text-group button{
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--text-color);
    background-color: var(--btn-color);
    border: none;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.5s;
    font-size: 1.3rem;
}



.coffeebean-container .text-group button i{
    font-size: 1rem;
}

.coffeebean-container .text-group button:hover{
    transform: scale(1.2);
}


/* coffee bean section end */

/* Review Section Start */


.review-container{
    background: white;
    /* margin: 20px 100px; */
    color: black;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review-container h5{
    text-align: center;
    font-family: "Charmonman", cursive;
    font-size: 1.2rem;
}

.review-container h4{
    text-align: center;
    font-size: 2rem;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.review-container .box-container{
    margin-top: 25px;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));;
    gap: 30px;
}

.review-container .box-container .box{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color: rgb(242, 242, 242);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.5s;
    border-radius:10px;
    /* max-width: 500px; */
}

.review-container .box-container .box:hover{
    transform: translateY(-10%);

}

.review-container .box-container .box .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-container .box-container .box .heading .gp1 {
    display: flex;
    justify-content: start;
    align-items: center;
}

.review-container .box-container .box .heading .gp1  .img{
    width:60px;
    height: 60px;
    margin-right: 10px;
}

.review-container .box-container .box .heading .gp1  img{
    width:100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position:top;
}

.review-container .box-container .box .heading .gp1 .text{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.review-container .box-container .box .heading .gp1 .text h3{
    font-size: 1rem;
    font-weight: 700;
}

.review-container .box-container .box .heading .gp1 .text h4{
    font-size: 0.9rem;
    font-weight: 700;
}

.review-container .box-container .box .heading .gp2{
    margin-top: 10px;
}

.review-container .box-container .box .heading .gp2 i{
    color: orange;
    font-size: 0.8rem;
}

.review-container .box-container .box .body{
    margin-top:20px
}

.review-container .box-container .box .body p{
    font-size: 0.9rem;
}

.review-container  .extra{
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 100%;
}


.review-container  .extra i{
    margin:5px;
    font-size: 0.7rem;
}


/* Review Section End */

/* Contact Section Start */

.contact-container{
    /* background-color: red; */
    /* margin: 20px 100px; */
    /* position: relative; */
}

/* .contact-container .img{
    width:100%;
    height:350px;
}

.contact-container .img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
    filter: brightness(0.8);
} */

.contact-container .form{
    background: url(./image/Download\ free\ image\ of\ Various\ coffee\ mugs\ on\ an\ abstract\ textured\ wallpaper\ by\ nook\ about\ coffee\ iphone\ wallpaper\,\ instagram\ coffee\,\ aesthetic\,\ android\ wallpaper\,\ and\ aromatic\ 2448252.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width:100%;
    min-height:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    text-wrap: nowrap;
    /* position: absolute;
    top: 35%;
    left: 25%; */
}

.contact-container .text{
    text-align: center;
    color: var(--text-color);
    /* background-color: red; */
    padding: 0 150px;
}

.contact-container .text h2{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 5px;
}

.contact-container .text h3{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
}


.contact-container form {
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container form  .email{
    width:70%;
    height: 30px;
    padding: 20px 40px;
    border-radius: 20px;
    margin-right: 10px;
    border: none;
}

.contact-container form .btn {
    padding: 10px 30px;
    border-radius: 20px;
    background-color: var(--btn-color);
    color: var(--text-color);
    border: none;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 1rem;
}

.contact-container form .btn:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}

.contact-container i{
    color: black;
    margin-right: -35px;
    z-index: 2;
    margin-left: 30px;
}


/* Contact Section End */

/* Footer Section Start */

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 100px; */

}

.tag-container{
    width: 100%;
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 40px 80px;
}

.tag-container .tag{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

.tag-container .tag h2{
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
}

.tag-container .tag h3{
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.tag-container .tag h4{
    font-weight: 300;
    font-size: 1rem;
}

.tag-container .tag .logo{

}

.tag-container .tag .logo i{
    font-size: 1.2rem;
    margin-right: 15px;
}

/* Footer Section End */


/* Responsive Section Start */

@media (max-width:1080px) {
    
    .navbar .tag li{
        font-size: 1.3rem;
    }

    .img-container .cover-text{
        height: 700px;
        
        padding-left: 5%;
        padding-top: 10%;
    }

    .tag-container .tag h2{
        font-size: 1.5rem;
    }

    .tag-container .tag h3{
        font-size: 1.2rem;
    }

    .tag-container .tag .logo i{
        font-size: 1rem;
        margin-right: 15px;
    }

    .tag-container{
        padding:  20px;
    }

    /* .contact-container form .btn {
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 1rem;
    } */

    .contact-container .form{
        height: 400px;
    }

    .contact-container .text h2{
        font-size: 1.8rem;
    }

    .contact-container .text h3{
        font-size: 1rem;
    }

    .contact-container form  .email{
        width:400px;
        height: 50px;
        padding: 15px 30px;
        font-size: 1rem;
        
    }

    .contact-container form .btn {
        padding: 15px 30px;
        border-radius: 20px;
        font-size: 1.3rem;
    }

    .category .category-logo .icon h4{
        font-size: 1.3rem;
    }

    .coffee-container{
        /* margin:0 100px; */
        padding: 30px 40px;
        /* background-color: var(--text-color);
        color: black;
        border-radius: 20px; */
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
    
    }

    .coffee-container .card-container{
        display: grid;
        grid-template-columns:auto auto auto;
        gap: 2rem;
        margin:50px;

    }

    .coffee-container .card{
        padding: 20px 20px;
        width:100%;
    }

    .coffee-container .card:hover{
        transform: translateY(-5%);
    }

    .coffee-container .card img{
        width:100%;
        height:250px;
    }


    .coffee-container .card h5{
        font-size: 1.5rem;
    }

    .coffee-container .card p{
        font-size: 15px;
    }

    /* .coffee-container .card .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
    } */

    .coffee-container .card span{
        font-size: 1.3rem;
    }

    /* .coffee-container .card .row span i{
        margin-right: 5px;
    } */

    .coffee-container .card input{
        padding: 8px 16px;
        font-size: 1rem;
    }
    
}

@media (max-width:786px) {
    /* .navbar .tag li{
        font-size: 1.3rem;
    } */

    .tag-container .tag:nth-child(2), .tag-container .tag:nth-child(3), .tag-container .tag:nth-child(4), .tag-container .tag:nth-child(5){
        display: none;
    }

    .tag-container .tag h2{
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    .tag-container .tag h3{
        align-self: center;
        font-size: 1.5rem;
    }

    .tag-container .tag .logo{
        /* background-color: red; */
    }

    .tag-container .tag .logo i{
        font-size: 1.5rem;
        margin: 10px 10px;
    }


    .contact-container .text h2{
        font-size: 1.8rem;
    }
    .contact-container .text h3{
        font-size: 1rem;
    }


    .contact-container form {
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height:800px;
        padding: 50px 0; */
    }



    .contact-container .text h2{
        font-size: 2rem;
    }

    .contact-container .text h3{
        font-size: 1.5rem;
    }

    .contact-container form  .email{
        width:400px;
        height: 60px;
        padding: 20px 40px;
        margin-bottom: 20px;
        font-size: 1.5rem;
        
    }

    .contact-container form .btn {
        padding: 15px 30px;
        border-radius: 20px;
        font-size: 1.5rem;
    }
    /* .contact-container form  .email{
        width:300px;
        height: 50px;
        padding: 20px 40px;
        margin-bottom: 20px;
        font-size: 1rem;
        
    }

    .contact-container form .btn {
        padding: 15px 30px;
        border-radius: 20px;
        font-size: 1rem;
    } */

    .coffeebean-container .text-group{
        min-height:500px;
    }

    .category .category-logo img{
        width: 100px;
        height:100px;
    }



    .category .category-logo .icon h4{
        font-size: 1.5rem;
    }
    
    .coffee-container .card-container{
        grid-template-columns: auto auto;
        gap: 5rem;
        margin:50px;
        padding: 0 50px;
    }


    .coffee-container .card h5{
        font-size: 1.8rem;
    }

    .coffee-container .card p{
        font-size: 20px;
    }


    .coffee-container .card span{
        font-size: 1.5rem;
    }

    .coffee-container .card input{
        padding: 8px 16px;
        font-size: 1.2rem;
    }
    
    .coffee-container .title img{
        width:50px;
    }

    .coffee-container h3{
        font-size: 2rem;
    }


    .coffee-container .card img{
        height: 400px;
    }

     .coffeebean-container .text-group h3{ 
        font-size: 3rem;
        margin-bottom: 20px;
    }


    .coffeebean-container .text-group button{
        padding: 20px 40px;
        font-size: 1.5rem;
    } 



    .coffeebean-container .text-group button i{
        font-size: 1rem;
    } 
    

    .review-container .box-container .box .heading .gp1 .text h3{
        font-size: 1.3rem;
    }

    .review-container .box-container .box .heading .gp1 .text h4{
        font-size: 1rem;
        font-weight: 700;
    }

    .review-container .box-container .box .heading .gp2{
        margin-top: 10px;
    }

    .review-container .box-container .box .heading .gp2 i{
        color: orange;
        font-size: 1rem;
    }

    .img-container .cover-text button{
        padding:15px 30px;
        margin-top: 20px;
        font-size: 1.5rem;
    }
}

@media (max-width:600px) {

    .navbar{
        padding: 30px 60px;
    }

    .navbar .logo h2{
        font-size: 3rem;
    }

    .navbar .logo i{
        font-size: 3rem;
    }

    .navbar .tag{
        display: none;
    }

    .navbar .searchbar{
        padding: 10px 20px;
    }

    .navbar .searchbar input{
        width: 300px;
        font-size: 2rem;
    }

    .navbar .searchbar .btn{
        font-size: 2.5rem;
    }


    .coffee-container{
        /* margin:0 100px; */
        padding: 30px 80px;
        background-color: var(--text-color);
        color: black;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }

    .tag-container .tag h3{
        align-self: center;
        font-size: 2rem;
    }

    .contact-container .form{
        height:800px;
        padding: 50px 0;
        /* position: absolute;
        top: 35%;
        left: 25%; */
    }

    .contact-container .text h2{
        font-size: 3rem;
    }

    .contact-container .text h3{
        font-size: 1.8rem;
    }

    .contact-container form  .email{
        width:400px;
        height: 80px;
        padding: 20px 40px;
        margin-bottom: 20px;
        font-size: 1.5rem;
        
    }

    .contact-container form .btn {
        padding: 15px 30px;
        border-radius: 20px;
        font-size: 1.8rem;
    }

    .coffeebean-container .text-group{
        height:800px;
        
    }

    .coffeebean-container .text-group h3{
        font-size: 3rem;;
    }


    .coffeebean-container .text-group button{
        padding: 15px 30px;
        font-size: 2rem;
        margin-top: 20px;

    }



    .coffeebean-container .text-group button i{
        font-size: 1.5rem;
    }

    .coffee-container{
        padding: 30px 20px;
    
    }

    .coffee-container .card h5{
        font-size: 2rem;
    }

    .coffee-container .card p{
        font-size: 20px;
    }


    .coffee-container .card .row{
        margin: 20px 0;
    }

    .coffee-container .card .row span{
        font-size: 2rem;
        /* color:white; */
    }

    .coffee-container .card input{
        padding: 8px 16px;
        font-size: 1.5rem;
    }

    .review-container .box-container{
        margin-top: 50px;
        padding: 50px 20px;
        display: grid;
        grid-template-columns: auto;
        gap: 30px;
    }

    .review-container .box-container .box .heading .gp1 .text h3{
        font-size: 1.5rem;
    }

    .review-container .box-container .box .heading .gp1 .text h4{
        font-size: 1.3rem;
        font-weight: 700;
    }

    .review-container .box-container .box .heading .gp2{
        margin-top: 10px;
    }

    .review-container .box-container .box .heading .gp2 i{
        color: orange;
        font-size: 1.3rem;
    }

    .review-container .box-container .box .body p{
        font-size: 1.3rem;
    }

    .review-container .box-container .box .heading .gp1  .img{
        width:100px;
        height: 100px;
    }

    .review-container h5{
        font-size: 1.5rem;
    }

    .review-container h4{
        font-size: 2.5rem;
    }

    .review-container  .extra i{
        font-size: 1rem;
    }

    .img-container .cover-text button{
        padding:15px 30px;
        margin-top: 20px;
        font-size: 1.8rem;
    }
}

@media (max-width:480px) {


    .img-container .cover-text{
        height: 800px;
        padding-left: 8%;
        padding-top: 10%;
    }

    .img-container .cover-text h2{
        font-size: 3rem;
        font-weight: 800;

    }

    .img-container .cover-text h3{
        font-size: 3.5rem;
        
    }

    .img-container .cover-text button{
        padding:15px 30px;
        margin-top: 50px;
        font-size: 2.5rem;
    }

    .navbar{
        padding: 40px 80px;
    }

    .tag-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: red; */
    }

    .tag-container .tag .logo i{
        font-size: 2.5rem;
        margin: 10px 30px;
    }


    .contact-container .form{
        height:800px;
        padding: 50px 0;
        /* position: absolute;
        top: 35%;
        left: 25%; */
    }

    .contact-container .text h2{
        font-size: 3rem;
    }

    .contact-container .text h3{
        font-size: 2rem;
        margin-bottom: 50px;
    }


    .contact-container form  .email{
        width:500px;
        height: 100px;
        padding: 20px 40px;
        font-size: 2rem;
        
    }

    .contact-container form .btn {
        padding: 25px 50px;
        font-size: 2.5rem;
    }

    

    .coffeebean-container .text-group h3{
        font-size: 3.5rem;;
    }


    .coffeebean-container .text-group button{
        padding: 20px 40px;
        font-size: 2.5rem;
        margin-top: 20px;
    }



    .coffeebean-container .text-group button i{
        font-size: 2rem;
    }
    

    .category .category-logo .icon {

    }

    .category .category-logo .icon h4{
        font-size: 1.7rem;
    }

    .coffee-container{
        padding: 50px 80px;
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
    
    }


    .coffee-container .title{
        margin-bottom: 50px;
    }


    .coffee-container .card{
        padding: 50px;
    }

    .coffee-container .card:hover{
        transform: translateY(-5%);
    }

    .coffee-container .card img{
        height:800px;
    }

    .coffee-container .card-container{
        grid-template-columns: auto;
        gap: 5rem;
        margin:50px;
        padding: 0 50px;
    }


    .coffee-container .card h5{
        font-size: 3rem;
    }

    .coffee-container .card p{
        font-size: 40px;
    }


    .coffee-container .card .row span{
        /* color: white; */
        font-size: 3rem;

    }

    .coffee-container .card input{
        padding: 10px 20px;
        font-size: 3rem;
    }
    
    .coffee-container .title img{
        width:75px;
    }

    .coffee-container h3{
        font-size: 3rem;
    }

    .review-container .box-container .box .heading .gp1 .text h3{
        font-size: 3rem;
    }

    .review-container .box-container .box .heading .gp1 .text h4{
        font-size: 2rem;
        font-weight: 700;
    }

    .review-container .box-container .box .heading .gp2{
        margin-top: 10px;
    }

    .review-container .box-container .box .heading .gp2 i{
        color: orange;
        font-size: 2rem;
    }

    .review-container .box-container .box .body p{
        font-size: 2rem;
    }

    .review-container .box-container .box .heading .gp1  .img{
        width:150px;
        height: 150px;
    }

    .review-container h5{
        font-size: 2.5rem;
    }

    .review-container h4{
        font-size: 3rem;
    }

    .review-container  .extra i{
        font-size: 1.5rem;
    }
}
/* Responsive Section End */